
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Sawarabi+Gothic&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/typeform-share.css");

body{
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
	color: rgb(78 78 78);
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Sawarabi', sans-serif;
	font-weight: medium;
}
a{
	text-decoration: none;
	cursor: pointer;

}
a:hover{
     background: rgb(78,78,78);
}

typeform-share:hover{
	background: rgb(78,78,78);
}
