.cards{
	flex-wrap: wrap;
	flex-grow: 1;
	margin: 10px;
}
.card {
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 10px 30px rgb(0,0,0,0.1);
    border-radius: 6px;
    margin: 20px 0px;
}

.card img{
	border-radius: 6px;
    width: 150px;
}

.card h3{
	flex-grow: 1;
	padding-left: 65px;
	font-size: 24px;
	font-color: rgb(190, 204, 192);
}

.card h4{
	font-size: 24px;
	flex-grow: 1;
	padding-left: 85px;
}

.card h5{
	font-size: 24px;
	flex-grow: 1;
	padding-left: 85px;
}

.card h6{
	font-size: 24px;
	flex-grow: 1;
	padding-left: 85px;
}